{% load static %}
{% load i18n %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="{% get_current_language as LANGUAGE_CODE %}">
<link rel="shortcut icon" href="{% static 'arbiter/imgs/favicon.ico' %}" type="image/vnd.microsoft.icon"/>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>接口请求统计</title>
    <link href="{% static 'arbiter/css/material-icons.css' %}" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static 'arbiter/css/muse/muse-ui.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'arbiter/css/muse/theme-teal.min.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'arbiter/css/wholog/api-count.css' %}"/>
    {% block head %}
    {% endblock head %}
</head>
<body>
<script src="{% static 'arbiter/js/common/vue/vue.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'arbiter/js/common/vue/vuex.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'arbiter/js/common/vue/vue-router.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'arbiter/js/common/vue/vue-resource.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'arbiter/js/common/muse/muse-ui.js' %}" type="text/javascript" charset="utf-8"></script>
 <!-- 引入 echarts.js -->
<script src="{% static 'arbiter/js/echarts.js'%}"></script>
{% verbatim %}
<div id="app">
        <arbiter-header></arbiter-header>
    <div id="root">
        <router-view name="apiCountApp"></router-view>
    </div>
</div>
{% endverbatim %}
{% include "component/menu-icon-button.vue" %}
{% include "component/user-avatar.vue" %}
{% verbatim %}
<template id="arbiterHeader">
    <div id="arbiter-header" :class="{ 'slider-open': sliderIsOpen}">
        <mu-dialog dialog-class="login-dialog" :open="loginDialog.switch" @close="closeLoginDialog">
               <mu-text-field  icon="account_circle" class="username" name="username" v-model="loginDialog.username" label="用户名"
                               label-float></mu-text-field>
               <mu-text-field icon="vpn_key" name="username" v-model="loginDialog.password" label="密码" type="password"
                               label-float></mu-text-field>
               <mu-raised-button  class="demo-raised-button login-dialog-btn" name="login-dialog-btn" label="登录"
                                  primary></mu-raised-button>
          </mu-dialog>
        <mu-appbar :z-depth="2">
            <mu-icon-button icon="extension" slot="left"></mu-icon-button>
            <h2 slot="left">接口统计</h2>
            <mu-icon-button v-if="usernameAbbreviation!=null" tooltip="消息" tooltip-position="bottom-right" icon="chat"
                            slot="right"></mu-icon-button>
            <menu-icon-button slot="right" :username-abbreviation="usernameAbbreviation"></menu-icon-button>
            <user-avatar slot="right" v-if="usernameAbbreviation!=null" :username-abbreviation="usernameAbbreviation"></user-avatar>
            <mu-flat-button v-if="usernameAbbreviation==null" @click="toLogin" label="登陆" icon="account_circle"
                            class="demo-flat-button" color="lime700" slot="right"></mu-flat-button>
        </mu-appbar>

    </div>
</template>

<template id="apiCountApp">
    <div id="api-count-app">
        <div id="search_content">
            <mu-text-field icon="search" label="输入查询的接口" v-model="api_name" label-float v-on:keyup.enter.native="search"></mu-text-field>
            <mu-flat-button label="查询" class="demo-flat-button" icon="search" v-on:click="queryData" primary></mu-flat-button>
        </div>
        <div id="result">
            <div id="result-content">
               <div id="main-chart">
               </div>
            </div>
            <!--运行详情记录-->
            <div>
              <mu-dialog dialog-class="log-dialog" :open="logDialog.switch" @close="closeDialog" title="详细运行记录" scrollable>
                  <p v-for="item, index in logDialog.menus" :key="index">{{ item }}</p>
                <mu-flat-button primary label="关闭" @click="closeDialog" slot="actions"/>
              </mu-dialog>
            </div>
        </div>
    </div>
    </div>
</template>
 {% endverbatim %}
<script src="{% static 'arbiter/js/common/get-res.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'arbiter/js/common/common.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'arbiter/js/store.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'arbiter/js/wholog/component/header-components.js' %}" type="text/javascript"
        charset="utf-8"></script>
<script src="{% static 'arbiter/js/wholog/api-count-components.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'arbiter/js/wholog/api-count-route.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'arbiter/js/wholog/api-count-app.js' %}" type="text/javascript" charset="utf-8"></script>
</body>
</html>