{% load static %}
{% load i18n %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="{% get_current_language as LANGUAGE_CODE %}">
<link rel="shortcut icon" href="{% static 'arbiter/imgs/favicon.ico' %}" type="image/vnd.microsoft.icon" />



<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>日志查询</title>
    <link href="{% static 'arbiter/css/material-icons.css' %}" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static 'arbiter/css/materialize.min.css' %}"
          media="screen,projection"/>
    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'arbiter/css/datatables/jquery.dataTables.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'arbiter/css/wholog/home.css' %}"/>
    {% block head %}
    {% endblock head %}
</head>

<body>
<script src="{% static 'arbiter/js/jquery-3.2.1.min.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'arbiter/js/materialize.min.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'arbiter/js/wholog/home.js' %}" type="text/javascript" charset="utf-8"></script>
<!-- DataTables -->
<script type="text/javascript" charset="utf8" src="{% static 'arbiter/js/datatables/jquery.dataTables.js' %}"></script>
<div class="root">
    {% comment %}
    查询条件布局
    {% endcomment %}
     <div id="query-div" class="">
          <div class="input-field col s6">
              <strong id="start-text">从</strong>
              <input id="start-date" type="text" placeholder="请输入开始日期" class="datepicker">
              <input id="start-time" type="text" placeholder="请输入开始时间" class="timepicker">
              <strong id="end-text">到</strong>
              <input id="end-date" type="text" placeholder="请输入开始日期" class="datepicker">
              <input id="end-time" type="text" placeholder="请输入开始时间" class="timepicker">
          </div>
        <div class="row">
            <div id="key_name" class="input-field col s6">
              <input id="" placeholder="请输入查询关键字"  type="text" class="validate">
              <label for="key_name">关键词</label>
            </div>
        </div>
        <div id="search-btn">
            <a class="waves-effect waves-light btn">查询</a>
        </div>
     </div>
    <div id="log_content" class="log-content">
      <div id="log_content_search" class="input-field col s6">
          <input id="log_search_input" type="text" class="validate">
          <label for="log_search_input">输入文字进行检索筛选</label>
      </div>
      <table  id="tb-log" class="display bordered highlight striped">
        <thead>
          <tr>
              <th data-field="id">ID</th>
              <th data-field="case-name">用例名</th>
              <th data-field="author">执行人</th>
              <th data-field="run-time">运行时间</th>
               <th data-field="operator">操作</th>
          </tr>
        </thead>
        <tbody>

        </tbody>
      </table>
    </div><!--table div end-->

  <!-- logDetail Modal Structure -->
  <div id="log_detail_modal" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>运行详情</h4>
        <ul id="log_data">
        </ul>

    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">关闭</a>
    </div>
  </div>
</div><!-- root end-->

</body>
</html>
