{% load static %}
{% load i18n %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="{% get_current_language as LANGUAGE_CODE %}">
<link rel="shortcut icon" href="{% static 'arbiter/imgs/favicon.ico' %}" type="image/vnd.microsoft.icon"/>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>日志查询</title>

    <link href="{% static 'arbiter/css/material-icons.css' %}" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static 'arbiter/css/muse/muse-ui.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'arbiter/css/element/index.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'arbiter/css/navbar.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'arbiter/css/wholog/index.css' %}"/>


    {% block head %}
    {% endblock head %}
</head>

<body>
<script src="{% static 'arbiter/js/common/vue/vue.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'arbiter/js/common/vue/vuex.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'arbiter/js/common/vue/vue-router.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'arbiter/js/common/vue/vue-resource.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'arbiter/js/common/muse/muse-ui.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'arbiter/js/common/element/index.js' %}" type="text/javascript" charset="utf-8"></script>

{% verbatim %}
<div id="app">
    <arbiter-header></arbiter-header>

    <div id="root">
        <log-slide></log-slide>
        <router-view name="historyLog"></router-view>
        <div id="root-case" style="display: block;">
            <div id="code">
                <case-float-btn></case-float-btn>
            </div>
        </div>
    </div>
</div>
{% endverbatim %}
{% include "component/menu-icon-button.vue" %}
{% include "component/user-avatar.vue" %}
{% include "component/history-log.vue" %}
{% include "component/log-count.vue" %}
{% include "component/arbiter-header.vue" %}
{% include "component/log-slide.vue" %}

{% include "component/case-float-btn.vue" %}
<script src="{% static 'arbiter/js/common/get-res.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'arbiter/js/common/common.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'arbiter/js/store.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'arbiter/js/wholog/component/header-components.js' %}" type="text/javascript"
        charset="utf-8"></script>
<script src="{% static 'arbiter/js/wholog/component/history-log.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'arbiter/js/wholog/component/log-count.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'arbiter/js/wholog/component/log-slide.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'arbiter/js/core/component/case-float-btn.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'arbiter/js/wholog/route.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'arbiter/js/wholog/app.js' %}" type="text/javascript" charset="utf-8"></script>
</body>
</html>
