{% load i18n %}
{% load staticfiles %}
<html lang="{% get_current_language as LANGUAGE_CODE %}">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <title>Title</title>
        <script src="{% static 'arbiter/js/vue.js' %}" type="text/javascript" charset="utf-8"></script>
    {% endblock head %}
</head>
<body>

<div id="app">
    {% templatetag openvariable %}message{% templatetag closevariable %}
</div>

<script type="text/javascript">
    var app = new Vue({
        el: '#app',
        data: {
            message: 'Hello Vue!'
        }
    })
</script>
</body>
</html>