{% load static %}
{% load i18n %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="{% get_current_language as LANGUAGE_CODE %}" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<link rel="shortcut icon" href="{% static 'arbiter/imgs/favicon.ico' %}" type="image/vnd.microsoft.icon"/>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>arbiter</title>
    <link href="{% static 'arbiter/css/material-icons.css' %}" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static 'arbiter/css/muse/muse-ui.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'arbiter/css/muse/theme-teal.min.css' %}"/>
    {#    <link type="text/css" rel="stylesheet" href="{% static 'arbiter/css/materialize.min.css' %}"#}
    {#          media="screen,projection"/>#}
    <link type="text/css" rel="stylesheet" href="{% static 'arbiter/css/navbar.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'arbiter/css/index.css' %}"/>
    {% block head %}
    {% endblock head %}
</head>
<body style="display: none;">
<script src="{% static 'arbiter/js/jquery-3.2.1.min.js' %}" type="text/javascript" charset="utf-8"></script>
{#<script src="{% static 'arbiter/js/materialize.min.js' %}" type="text/javascript" charset="utf-8"></script>#}
<script src="{% static 'arbiter/js/vue/vue.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'arbiter/js/muse/muse-ui.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static "arbiter/js/ace/ace.js" %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'arbiter/js/header.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'arbiter/js/slide.js' %}" type="text/javascript" charset="utf-8"></script>
<div class="arbiter-container">
    {% verbatim %}
    <div id="arbiter-navbar" :class="{ 'slider-open': sliderIsOpen}">
        <mu-appbar :z-depth="2">
            <mu-icon-button icon="menu" slot="left" @click="toggleSlide()"></mu-icon-button>
            <h2 slot="left">用例管理</h2>
            <mu-text-field icon="search" class="appbar-search-field" hint-text="搜索"></mu-text-field>
            <mu-avatar v-if="message.username!=null" background-color="lime700" color="black" :size="50" slot="right">{{
                message.username.substr(0, 2) }}
            </mu-avatar>
            <mu-icon-button v-if="message.username!=null" tooltip="消息" tooltip-position="bottom-right" icon="chat"
                            slot="right"></mu-icon-button>
            <mu-icon-menu icon="apps" slot="right">
                <mu-menu-item title="用例导入" left-icon="add" @click="openImportDialog"></mu-menu-item>
                <mu-menu-item title="用例管理" left-icon="mode_edit"></mu-menu-item>
                <mu-menu-item href="./wholog" title="日志查询" left-icon="history"></mu-menu-item>
            </mu-icon-menu>
            <mu-icon-menu v-if="message.username!=null" icon="more_vert" slot="right">
                <mu-menu-item title="设置" left-icon="settings"></mu-menu-item>
                <mu-menu-item title="帮助" left-icon="help_outline"></mu-menu-item>
                <mu-divider></mu-divider>
                <mu-menu-item title="退出" @click="logout()" left-icon="power_settings_new"></mu-menu-item>
            </mu-icon-menu>
            <mu-flat-button v-if="message.username==null" href="/arbiter/login" label="登陆" icon="account_circle"
                            class="demo-flat-button" color="lime700" slot="right"></mu-flat-button>
        </mu-appbar>
        <mu-dialog :open="dialog" title="用例导入" @close="closeImportDialog">
            <mu-text-field v-if="gitCloneStatus == 'finish'" icon="link" v-model="gitUrlPrefix"
                           label="git仓库的URL（例：https://example/demo.git）" :width="100" label-float></mu-text-field>
            <mu-flat-button v-if="gitCloneStatus == 'finish'" slot="actions" @click="closeImportDialog" primary
                            label="取消"></mu-flat-button>
            <mu-flat-button v-if="gitCloneStatus == 'finish'" slot="actions" @click="cloneCaseObj" primary
                            label="导入"></mu-flat-button>
            <mu-linear-progress v-if="gitCloneStatus == 'running'" :size="10" color="blue"></mu-linear-progress>
        </mu-dialog>
    </div>
    {% endverbatim %}
    <div>
        <div>
            <mu-drawer :overlay="true" id="nav-slide" :z-depth="0" :open="open" :docked="docked" @close="toggle()">
                <mu-appbar title="Arbiter" :z-depth="2"></mu-appbar>
                <mu-list v-for="(value, key) in modelList" :key="key">
                    <mu-list-item :title="key" toggle-nested :open="false" >
                        <mu-icon slot="left" value="wb_cloudy"></mu-icon>
                        <mu-list-item slot="nested" :title="value" v-for="(value, key) in value" :key="value"  @click="loadCaseFile(key)">
                            <mu-icon slot="left" value="looks"></mu-icon>
                        </mu-list-item>
                    </mu-list-item>
                </mu-list>
            </mu-drawer>
        </div>
        <div id="root">
            <div id="root-case" style="display: block;">
                <div>
                    <span id="casepath" casepath="" hidden></span>
                </div>
                <div id="code">
                    <div id="code-float-btn" class="fixed-action-btn click-to-toggle"
                         style="bottom: 45px; right: 24px;">
                        <a class="btn-floating btn-large blue" title="操作">
                            <i class="material-icons">pan_tool</i>
                        </a>
                        <ul>
                            <li><a id="edit" class="btn-floating red"
                                   style="transform: scaleY(0.4) scaleX(0.4) translateY(40px) translateX(0px); opacity: 0;"
                                   title="编辑">
                                <i id="save-edit-icon"
                                   class="material-icons run-edit-i">mode_edit</i>
                                <span>编辑</span></a>
                            </li>
                            <li><a id="run" class="btn-floating yellow darken-1"
                                   style="transform: scaleY(0.4) scaleX(0.4) translateY(40px) translateX(0px); opacity: 0;"
                                   title="运行">
                                <i id="run-icon" class="material-icons run-edit-i">play_arrow</i>
                                <span>运行</span></a>
                            </li>
                            <li><a id="run" class="btn-floating green darken-1"
                                   style="transform: scaleY(0.4) scaleX(0.4) translateY(40px) translateX(0px); opacity: 0;"
                                   title="日志">
                                <i id="log-icon" class="material-icons">message</i>
                                <span>日志</span></a>
                            </li>
                        </ul>
                    </div>
                    <pre id="code-content"></pre>
                    <div id="modal-import" class="modal modal-fixed-footer">
                        <div class="modal-content">
                            <div class="row">
                                <form class="col s12">
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <i class="material-icons prefix">link</i>
                                            <input id="git-url-prefix" type="text" class="validate">
                                            <label for="icon_prefix">Git Url(https://example/demo.git)</label>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a id="cloneCaseObj" class="waves-effect waves-teal btn">导入</a>
                            <a class="modal-action modal-close waves-effect waves-teal btn-flat">关闭</a>
                        </div>
                    </div>
                    <div id="modal-log" class="modal modal-fixed-footer">
                        <div class="modal-content">
                            <ul id="insert">
                            </ul>
                        </div>
                        <div class="modal-footer">
                            <a id="clearLog" class="waves-effect waves-teal btn">清空</a>
                            <a class="modal-action modal-close waves-effect waves-teal btn-flat">关闭</a>
                        </div>
                    </div>
                    <div id="modal-save" class="modal modal-fixed-footer">
                        <div class="modal-content">
                            <div id="pro-center" class="col s12 m4 center" style="display: none;">
                                <i class="material-icons large cyan-text text-darken-4">done</i>
                            </div>
                            <div id="buffer-center" class="col s12 m4 center">
                                <div class="preloader-wrapper big active">
                                    <div class="spinner-layer spinner-blue">
                                        <div class="circle-clipper left">
                                            <div class="circle"></div>
                                        </div>
                                        <div class="gap-patch">
                                            <div class="circle"></div>
                                        </div>
                                        <div class="circle-clipper right">
                                            <div class="circle"></div>
                                        </div>
                                    </div>

                                    <div class="spinner-layer spinner-red">
                                        <div class="circle-clipper left">
                                            <div class="circle"></div>
                                        </div>
                                        <div class="gap-patch">
                                            <div class="circle"></div>
                                        </div>
                                        <div class="circle-clipper right">
                                            <div class="circle"></div>
                                        </div>
                                    </div>

                                    <div class="spinner-layer spinner-yellow">
                                        <div class="circle-clipper left">
                                            <div class="circle"></div>
                                        </div>
                                        <div class="gap-patch">
                                            <div class="circle"></div>
                                        </div>
                                        <div class="circle-clipper right">
                                            <div class="circle"></div>
                                        </div>
                                    </div>

                                    <div class="spinner-layer spinner-green">
                                        <div class="circle-clipper left">
                                            <div class="circle"></div>
                                        </div>
                                        <div class="gap-patch">
                                            <div class="circle"></div>
                                        </div>
                                        <div class="circle-clipper right">
                                            <div class="circle"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer modal-save-footer">
                            <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat"><i
                                    class="material-icons">clear</i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" charset="utf-8">
</script>
<script src="{% static 'arbiter/js/index.js' %}" type="text/javascript" charset="utf-8"></script>
</html>