{% load static %}
{% load i18n %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="{% get_current_language as LANGUAGE_CODE %}" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<link rel="shortcut icon" href="{% static 'arbiter/imgs/favicon.ico' %}" type="image/vnd.microsoft.icon"/>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>arbiter</title>
    <link href="{% static 'arbiter/css/material-icons.css' %}" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static 'arbiter/css/muse/muse-ui.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'arbiter/css/muse/theme-teal.min.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'arbiter/css/navbar.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'arbiter/css/scrollbar/vue2-scrollbar.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'arbiter/css/scrollbar/app.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'arbiter/css/index.css' %}"/>
    {% block head %}
    {% endblock head %}
</head>
<body style="display: none;">
<script src="{% static 'arbiter/js/common/vue/vue.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'arbiter/js/common/vue/vue2-scrollbar.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'arbiter/js/common/vue/vuex.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'arbiter/js/common/vue/vue-router.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'arbiter/js/common/vue/vue-resource.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'arbiter/js/common/muse/muse-ui.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static "arbiter/js/common/ace/ace.js" %}" type="text/javascript" charset="utf-8"></script>
<div class="arbiter-container">
    {% verbatim %}
    <div id="app">
        <arbiter-navbar></arbiter-navbar>
        <div>
            <div id="root">
                <router-view name="paper"></router-view>
                <arbiter-slide :model-list="modelList"></arbiter-slide>
                <div id="root-case" style="display: block;">
                    <div id="code">
                        <case-float-btn></case-float-btn>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endverbatim %}
</div>
{% include "case/component/menu-icon-button.vue" %}
{% include "case/component/user-avatar.vue" %}
{% include "case/component/arbiter-navbar.vue" %}
{% include "case/component/nav-slide.vue" %}
{% include "case/component/case-paper.vue" %}
{% include "case/component/code-paper.vue" %}
{% include "case/component/code-float-btn.vue" %}
{% include "case/component/case-float-btn.vue" %}
<script src="{% static 'arbiter/js/common/index.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'arbiter/js/common/get-res.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'arbiter/js/core/store.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'arbiter/js/core/component/menu-icon-Button.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'arbiter/js/core/component/user-avatar.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'arbiter/js/core/component/arbiter-slide.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'arbiter/js/core/component/arbiter-navbar.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'arbiter/js/core/component/case-float-btn.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'arbiter/js/core/component/code-paper.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'arbiter/js/core/component/code-float-btn.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'arbiter/js/core/component/case-paper.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'arbiter/js/core/route.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'arbiter/js/core/app.js' %}" type="text/javascript" charset="utf-8"></script>
</body>
</html>