{% load static %}
{% load i18n %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="{% get_current_language as LANGUAGE_CODE %}">
<link rel="shortcut icon" href="{% static 'arbiter/imgs/favicon.ico' %}" type="image/vnd.microsoft.icon"/>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>登录</title>
    <link href="{% static 'arbiter/css/material-icons.css' %}" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static 'arbiter/css/muse/muse-ui.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'arbiter/css/muse/theme-teal.min.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'arbiter/css/login.css' %}"/>
    {% block head %}
    {% endblock head %}
</head>
<body>
<script src="{% static 'arbiter/js/common/vue/vue.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'arbiter/js/common/muse/muse-ui.js' %}" type="text/javascript" charset="utf-8"></script>
{% verbatim %}
<div class="root">
    <div id="login-form" class="login">
        <form ref="form">
            <h6 id="LoginInfo" class="text-danger">{{ prompt}}</h6>
            <div>
                <mu-text-field icon="account_circle" name="username" v-model="inputtext.username" label="用户名"
                               label-float></mu-text-field>
            </div>
            <div>
                <mu-text-field icon="vpn_key" name="password" v-model="inputtext.password" label="密码" hintext="请输入密码"
                               type="password" label-float></mu-text-field>
            </div>
            <div>
                <mu-raised-button @click="submit" class="demo-raised-button" name="login-btn" label="登录"
                                  primary></mu-raised-button>
            </div>
        </form>
    </div><!--login div end-->
    <canvas></canvas>
</div><!-- root end-->
{% endverbatim %}
<script src="{% static 'arbiter/js/login.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'arbiter/js/common/snow.js' %}" type="text/javascript" charset="utf-8"></script>
</body>
</html>
