body {

    background: rgba(0,0,0,0.05);
    vertical-align:middle;
}
#main {
    margin: 0 auto;
    width: 1000px;
    height: auto;
}
#result-header {
    margin: 0 auto;
    width: 200px;
    height: 180px;
    background: #00838f;
}

#result-content {
    margin: 0 auto;
    width: 800px;
    height: 600px;
}

#main-chart {
    width: 1000px;
    height: 600px;
}