body {

}

#log-root {
    background: rgba(0,0,0,0.05);
    vertical-align:middle;
    height: 100%;
    width: 100%;
    margin: 10px;

}
.query {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.query-content  span {
    font-weight: 500;
    font-size:large;
}
.query-button {
    display: flex;
    justify-content: center;
}
 a {
    text-decoration:underline;
    color: #6495ED;
}
 a:hover {
    font-size:120%;
 }

.log-dialog {
    max-height: 360px;
}
.log-dialog p {
    margin: 5px;
    font-size: 12px;
}
.login-popup-top {
    width: 80%;
    opacity: .6;
    height: 48px;
    line-height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 375px;
    margin-top: 5px;
    color: red;
    background-color: #6495ED;
}
#arbiter-header {
    background-color: #6495ED;
}
.mu-appbar {
    background-color: #6495ED;
}
.login-dialog {
    height: 500px;
    width: 440px;
}