body {
    margin-right: 10px;
    margin-left: 10px;
}

#log-root {
    background: rgba(0,0,0,0.05);
    vertical-align:middle;
    height: 100%;
    width: 100%;
    margin: 10px;

}
.query {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.query-content  span {
    font-weight: 500;
    font-size:large;
}
.query-button {
    display: flex;
    justify-content: center;
}
 a {
    text-decoration:underline;
    color: #6495ED;
}
 a:hover {
    font-size:120%;
 }

 /*#detail-log-dialog {*/
     /*max-height: 300px;*/
     /*height: 300px;*/
 /*}*/
 /*#detail-log-dialog > mu-dialog{*/
     /*max-height: 300px;*/
     /*height: 300px;*/
 /*}*/


.log-dialog {
    max-height: 300px;
    height: 300px;
}