body {

    background: rgba(0, 0, 0, 0.05);
    vertical-align: middle;
}

#statistic-log {
    position: fixed;
    left: 0;
    top: 60px;
    right: 0;
    width: auto;
    bottom: 0;
    overflow-y: auto;
    size: 14px;
    z-index: -1;
}

#main {
    margin: 0 auto;
    width: 1000px;
    height: auto;
}

#result-content {
    margin: 0 auto;
    width: 1400px;
    height: 680px;
}

#main-chart {
    width: 1400px;
    height: 680px;
}

.login-dialog {
    padding-right: 20px;
    padding-bottom: 20px;
    height: 360px;
    width: 320px;
}

.login-dialog-btn {
    margin-right: 30px;
    margin-left: 25px;
    margin-top: 25px;
    width: 90%;
}

.log-dialog {
    max-height: 360px;
}

.log-dialog p {
    margin: 5px;
    font-size: 12px;
}
.log-chart-tooltip {
   word-wrap: break-word;
    word-break: break-all;
}