
body {
    background-color: #f2f2f2;
}
.mu-drawer
{
    background-color: #f2f2f2;
}

#slide-nav {
    white-space: nowrap;
}

.log-dialog {
    max-width: 1000px;
}

.log-dialog h3 {
    padding: 4px 4px 3px;
}

.log-dialog p {
    margin: 2px;
    font-size: 12px;
}

#root-case {
    display: none;
}

#code-paper {
    top: 0;
    height: 600px;
    bottom: 0;
}

#case-paper {
    position: fixed;
    left: 256px;
    top: 60px;
    right: 0;
    width: auto;
    bottom: 0;
    overflow-y: scroll;
    size: 14px;
    z-index: -1;
}

.flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
        width: 100%;

}

.grey-text {
    color:#9e9e9e;
}

.brown800-text {
    color:#4e342e;
}

.paper-casename {
    margin-left: 30px;
}

.paper-pyname {
    margin-left: 30px;
    cursor:pointer;
}

.red-icon {
    color:#ff5722;
}


.green-icon {
    color:#8bc34a;
}
.long-large-paper
{margin-right: 80px;
    margin-left: 20px;}


.long-little-paper {
    height: 45px;
    margin-bottom: 20px;
    margin-right: 130px;
    margin-left: 30px;
    position: relative;
}