.col {

    padding: 0 !important;
}

#slide-nav {
    white-space: nowrap;
}

.log-dialog {
    max-width: 1000px;
}

.log-dialog h3 {
    padding: 4px 4px 3px;
}

.log-dialog p {
    margin: 2px;
    font-size: 12px;
}

#root-case {
    display: none;
}

#code-content {
    position: fixed;
    left: 256px;
    top: 60px;
    right: 0;
    width: auto;
    bottom: 0;
    size: 14px;

}
