body {
    text-align: center;
    background: rgba(0,0,0,0.05);
    vertical-align:middle;
}

.login {
    margin:auto;
    width: 400px;
    height: 320px;
	position:absolute;
	z-index:99;
    top: 25%;
    left: 40%;
}

