.mu-appbar {
    height: 56px;
}

.mu-appbar-title {
    line-height: 56px;
}

.appbar-search-field {
    color: #FFF;
    margin-bottom: 0;
}

#arbiter-navbar h2 {

    width: 300px;
}

#arbiter-navbar .mu-avatar {

    margin: 30px;
}

#arbiter-navbar .mu-text-field {

    width: 800px;

}

.mu-dialog .mu-text-field {

    width: 500px;

}

.appbar-search-field.focus-state {
    color: #FFF;
}

.appbar-search-field .mu-text-field-hint {
    color: rgba(255, 255, 255, 0.54);
}

.appbar-search-field .mu-text-field-input {
    color: #FFF;
}

.appbar-search-field .mu-text-field-focus-line {
    background-color: #FFF;
}
