.mu-appbar {
    height: 56px;
}

.mu-appbar-title {
    line-height: 56px;
}

.appbar-search-field {
    color: #FFF;
    margin-bottom: 0;
}




#arbiter-navbar {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    width: auto;
}

.slider-open {
    left: 256px !important;
}

#arbiter-navbar h2 {

    width: 300px;
}

#arbiter-navbar .mu-avatar {

    margin: 30px;
}

#arbiter-navbar .mu-text-field {

    width: 80%;

}

.mu-dialog .mu-text-field {

    width: 600px;

}

.appbar-search-field.focus-state {
    color: #FFF;
}

.appbar-search-field .mu-text-field-hint {
    color: rgba(255, 255, 255, 0.54);
}

.appbar-search-field .mu-text-field-input {
    color: #FFF;
}

.appbar-search-field .mu-text-field-focus-line {
    background-color: #FFF;
}
